{% extends 'app_general/components/base.html' %}
{% load static %}

{% block site_title %}{{food.title}} | {% endblock %}

{% block content %}
<section class="content-section content-section-single">
    <div class="content-container">
        {% if food is not none %}
            <div class="grid grid-2">
                    <img class="image-block" src="{% static food.image_relative_url %}">
                    <div>
                        <h3><a> {{food.title}} </a></h3>
                        {% if food.special_price is not None %}
                
                            <p>
                                <span>{{ food.special_price|floatformat:'g' }} บาท</span>
                                <del class="text-gray">{{food.price|floatformat:'g'}} บาท</del>
                            </p>
                
                        {% else%}
                            <p>{{food.price|floatformat:'g'}} บาท</p>
                        {% endif %}
                        {% if food.is_premium %}
                            <p>***เมนูสุด Premium</p>
                        {% endif %} 
                        <p>โปรโมชั่นถึงวันที่ {{food.promotion_end_at|date:'j N Y'}}</p>
                        <p>
                            {{food.description}}
                        </p>
                        <p>
                            <a class="button button-primary" href="{% url 'subscription' %}">ลงทะเบียนรับโปรโมชั่น</a>
                        </p>
                    </div>

            </div>
        {% else %}
            <p>ไม่พบเมนูนี้</p>
        {% endif %}        
    </div>
</section>




{% endblock %}