{% extends 'app_general/components/base.html' %}

{% block site_title %}แดชบอร์ด | {% endblock %}


{% block content %}
<section class="content-section content-section-single">
    <div class="content-container content-container-narrow">
        <h3 class="content-title">สวัสดี {{ user.username }}</h3>
        <p>
            <a href="{% url 'dashboard' %}">แดชบอร์ด</a>
            <a href="{% url 'profile' %}">โปรไฟล์</a>
        </p>
        <p>เข้ามาได้แล้วโว้ยย</p>


    </div>
</section>
{% endblock %}



