<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>จันทร์ไรเดอร์</title>
</head>
<body>
    <header style="background-color:lightpink;">
        <a href="#">จันทร์ไรเดอร์</a>
        <a href="#">เมนูทั้งหมด</a>
        <a href="#">เกี่ยวกับ</a>


    </header>
    <div>
        <h2>เกี่ยวกับจันทร์ไรเดอร์</h2>
    </div>
    <footer style="background-color: lightblue;">
        <h5>ติดตามความเคลื่อนไหวและโปรโมชั่นได้ที่</h5>
        <p>
            <a href="#">Facebook</a>
            <a href="#">Twitter</a>
            <a href="#">Instagram</a>
        </p>
        <p>Copyright 2021-2022 Junraider. All right reserved</p>
    </footer>
    
    
</body>
</html>