{% extends 'app_general/components/base.html' %}

{% block site_title %}ส่งอีเมลรีเซ็ตรหัสผ่านเรียบร้อยแล้ว | {% endblock %}


{% block content %}
<section class="content-section content-section-single">
    <div class="content-container content-container-narrow">
        <h3 class="content-title">ส่งอีเมลรีเซ็ตรหัสผ่านเรียบร้อยแล้ว</h3>
        <p>กรุุณาตรวจสอบอีเมลของคุณ</p>
        <p>
            <a class="button button-primary" href="{% url 'login' %}">กลับไปเข้าสู่ระบบ</a>
        </p>

    </div>
</section>
{% endblock %}



