{% load static %}
<header class="site-header">
    <a class="site-header-item site-header-brand" href="{% url 'home' %}">
        <img src="{% static 'app_general/logo.png' %}">
        <span>จันทร์ไรเดอร์</span>
    </a>
    
    <a class="site-header-item" href="{% url 'foods' %}">เมนูทั้งหมด</a>
    <a class="site-header-item" href="{% url 'about' %}">เกี่ยวกับ</a>
    {% if user.is_authenticated %}
    <a class="site-header-item" href="#">{{ user.username }}</a>   
    <a class="site-header-item" href="{% url 'logout' %}">ออกจากระบบ</a> 
    {% else %}
    <a class="site-header-item" href="{% url 'login' %}">เข้าสู่ระบบ</a>
    <a class="site-header-item" href="{% url 'register' %}">สมัครสมาชิก</a>
    {% endif %}
</header>